## Leading Causes of Death Around the World

In [13]:
import pandas as pd
import matplotlib as plt
import numpy as np
import os
import requests
import time
from scipy.stats import linregress
from pprint import pprint

In [14]:
# Pull in csv files 
annual_num_deaths_csv = ("../Resources/annual-number-of-deaths-by-cause.csv")
mortality_df = pd.read_csv(annual_num_deaths_csv)
mortality_df.head()

socio_csv = ("../Resources/soci_econ_country_profiles.csv")
socio_df = pd.read_csv(socio_csv)
# socio_df.head()

Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)

In [26]:
mortality_df.columns

Index(['Entity', 'Code', 'Year',
       'Number of executions (Amnesty International)',
       'Deaths - Meningitis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)',
       'Deaths - Malaria - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drowning - Sex: Both - Age: All Ages (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)',
       'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)',
       'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)',
       'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)',
       'Terrorism (deaths)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)',
       'Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)'],
      dtype='object')

In [62]:
mortality_column_list = mortality_df.columns
# mortality_column_list[6].replace("Deaths -","")

new_mort_list = []

for columns in range(len(mortality_column_list)):
    new = mortality_column_list[columns].replace("Deaths - ","")
    new_two = new.replace("- Sex: Both - Age: All Ages (Number)", "")
    new_mort_list.append(new_two) 
# print(new_mort_list)

In [63]:
# x=len(new_mort_list)
# new_df = mortality_df[mortality_df.columns[4:x]]
# new_df.head()
mortality_df.columns = new_mort_list
mortality_df.head()

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [24]:
# socio_df.columns

In [78]:
new_socio_df = socio_df[["country", 
             "Region",
             "Health: Total expenditure (% of GDP)", 
             "Health: Physicians (per 1000 pop.)", 
             "Current health expenditure (% of GDP)",
             "GDP: Gross domestic product (million current US$)"
            ]]
new_socio_df.head()

,country,Region,Health: Total expenditure (% of GDP),Health: Physicians (per 1000 pop.),Current health expenditure (% of GDP),GDP: Gross domestic product (million current US$)
0,Argentina,SouthAmerica,4.8,3.8,9.124315,632343
1,Australia,Oceania,9.4,3.4,9.205948,1230859
2,Austria,WesternEurope,11.2,5.2,10.396617,376967
3,Belarus,EasternEurope,5.7,4.1,5.925786,54609
4,Belgium,WesternEurope,10.6,3.0,10.338669,455107

In [97]:
# Merge csv files with data we will need to chart
new_df = pd.merge(mortality_df, new_socio_df, left_on="Entity", right_on="country", how="left")
new_df.dropna()

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease,country,Region,Health: Total expenditure (% of GDP),Health: Physicians (per 1000 pop.),Current health expenditure (% of GDP),GDP: Gross domestic product (million current US$)
718,Belarus,BLR,2008,4,79.0,20080.0,789.0,0.0,1072.0,1298.0,...,4932.0,25.0,2778.0,595.0,Belarus,EasternEurope,5.7,4.1,5.925786,54609.0
720,Belarus,BLR,2010,2,74.0,21004.0,804.0,0.0,1065.0,1015.0,...,5323.0,26.0,2926.0,625.0,Belarus,EasternEurope,5.7,4.1,5.925786,54609.0
721,Belarus,BLR,2011,2,72.0,21181.0,845.0,0.0,991.0,1204.0,...,5498.0,28.0,3022.0,648.0,Belarus,EasternEurope,5.7,4.1,5.925786,54609.0
722,Belarus,BLR,2012,3,62.0,19224.0,761.0,0.0,813.0,901.0,...,4718.0,24.0,3081.0,616.0,Belarus,EasternEurope,5.7,4.1,5.925786,54609.0
1576,China,CHN,2008,>1000,8384.0,2168067.0,11363.0,15.0,73624.0,21775.0,...,292928.0,4757.0,197380.0,54828.0,China,EasternAsia,5.5,1.5,5.151193,11158457.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6194,Saudi Arabia,SAU,2016,154,174.0,11345.0,680.0,1.0,722.0,409.0,...,4367.0,62.0,1551.0,520.0,Saudi Arabia,WesternAsia,4.7,2.6,5.230253,653219.0
7200,Thailand,THA,2007,0,1231.0,81637.0,635.0,170.0,5473.0,6019.0,...,23855.0,261.0,11384.0,2404.0,Thailand,South-easternAsia,4.1,...,3.746016,395168.0
7201,Thailand,THA,2008,0,1176.0,83758.0,641.0,135.0,5391.0,5662.0,...,24597.0,259.0,11944.0,2519.0,Thailand,South-easternAsia,4.1,...,3.746016,395168.0
7202,Thailand,THA,2009,2,1125.0,85440.0,706.0,124.0,5290.0,5266.0,...,25136.0,257.0,12485.0,2605.0,Thailand,South-easternAsia,4.1,...,3.746016,395168.0
7597,United Arab Emirates,ARE,2014,1,49.0,3528.0,175.0,0.0,164.0,115.0,...,481.0,53.0,80.0,54.0,United Arab Emirates,WesternAsia,3.6,1.6,3.334282,370296.0