## Leading Causes of Death Around the World

In [82]:
import pandas as pd
import matplotlib as plt
import numpy as np
import os
import requests
import time
from scipy.stats import linregress
from pprint import pprint

In [83]:
# Pull in csv files 
annual_num_deaths_csv = ("../Resources/annual-number-of-deaths-by-cause.csv")
mortality_df = pd.read_csv(annual_num_deaths_csv)
mortality_df.head()

socio_csv = ("../Resources/soci_econ_country_profiles.csv")
socio_df = pd.read_csv(socio_csv)
# socio_df.head()

Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)

In [84]:
mortality_df.columns

Index(['Entity', 'Code', 'Year',
       'Number of executions (Amnesty International)',
       'Deaths - Meningitis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)',
       'Deaths - Malaria - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drowning - Sex: Both - Age: All Ages (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)',
       'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)',
       'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)',
       'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)',
       'Terrorism (deaths)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)',
       'Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)'],
      dtype='object')

In [85]:
mortality_column_list = mortality_df.columns
# mortality_column_list[6].replace("Deaths -","")

new_mort_list = []

for columns in range(len(mortality_column_list)):
    new = mortality_column_list[columns].replace("Deaths - ","")
    new_two = new.replace("- Sex: Both - Age: All Ages (Number)", "")
    new_mort_list.append(new_two) 
# print(new_mort_list)

In [97]:
mortality_df.columns = new_mort_list
mortality_df

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8249,Zimbabwe,ZWE,2015,NaN,1439.0,11161.0,632.0,2518.0,770.0,1302.0,...,2990.0,NaN,16649.0,2108.0,2751.0,1956.0,4202.0,146.0,754.0,215.0
8250,Zimbabwe,ZWE,2016,NaN,1457.0,11465.0,648.0,2050.0,801.0,1342.0,...,3027.0,NaN,16937.0,2160.0,2788.0,1962.0,4264.0,146.0,767.0,219.0
8251,Zimbabwe,ZWE,2017,NaN,1460.0,11744.0,654.0,2116.0,818.0,1363.0,...,2962.0,0.0,17187.0,2196.0,2818.0,2007.0,4342.0,144.0,781.0,223.0
8252,Zimbabwe,ZWE,2018,NaN,1450.0,12038.0,657.0,2088.0,825.0,1396.0,...,2890.0,NaN,17460.0,2240.0,2849.0,2030.0,4377.0,139.0,795.0,227.0
8253,Zimbabwe,ZWE,2019,NaN,1450.0,12353.0,662.0,2068.0,827.0,1434.0,...,2855.0,NaN,17810.0,2292.0,2891.0,2065.0,4437.0,136.0,812.0,232.0

In [102]:
year_df = mortality_df.loc[(
    mortality_df["Year"] == 2015) | 
    (mortality_df["Year"] == 2016) | 
    (mortality_df["Year"] == 2017) | 
    (mortality_df["Year"] == 2018)]

In [107]:
most_deaths = ["Bulgaria","Ukraine","Latvia","Lesotho","Lithuania","Serbia","Croatia","Romania","Georgia","Russia"]
least_deaths = ["Qatar","United Arab Emirates","Bahrain","Oman","Kuwait","Maldives","Saudi Arabia","Palestine","Jordan","Solomon Islands"]

In [157]:
# most_deaths_df = year_df.loc[(year_df["Entity"] == "Bulgaria")]
# most_deaths_df
country = year_df["Entity"]
most_death_df = year_df.loc[(
    year_df["Entity"] == "Bulgaria") | 
    (year_df["Entity"] == "Ukraine") | 
    (year_df["Entity"] == "Latvia") |
    (year_df["Entity"] == "Lesotho") | 
    (year_df["Entity"] == "Lithuania") | 
    (year_df["Entity"] == "Serbia") | 
    (year_df["Entity"] == "Croatia") | 
    (year_df["Entity"] == "Romania") | 
    (year_df["Entity"] == "Georgia") | 
    (year_df["Entity"] == "Russia")]
most_death_df.reset_index(drop=True, inplace=True)
most_death_df.head()

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Bulgaria,BGR,2015,NaN,43.0,22744.0,125.0,0.0,170.0,177.0,...,3.0,0.0,76745.0,1953.0,2916.0,2715.0,4539.0,10.0,2983.0,939.0
1,Bulgaria,BGR,2016,NaN,42.0,22444.0,121.0,0.0,167.0,182.0,...,4.0,0.0,76814.0,1936.0,2945.0,2724.0,4529.0,10.0,3034.0,945.0
2,Bulgaria,BGR,2017,NaN,41.0,22221.0,119.0,0.0,164.0,181.0,...,4.0,NaN,76978.0,1927.0,2966.0,2723.0,4517.0,9.0,3081.0,955.0
3,Bulgaria,BGR,2018,NaN,40.0,22179.0,118.0,0.0,163.0,182.0,...,4.0,NaN,78759.0,1950.0,3021.0,2722.0,4529.0,9.0,3126.0,987.0
4,Croatia,HRV,2015,NaN,18.0,14693.0,41.0,0.0,87.0,45.0,...,1.0,NaN,24640.0,920.0,1910.0,1201.0,2293.0,1.0,1898.0,484.0

In [158]:
del most_death_df["Number of executions (Amnesty International)"]
del most_death_df["Terrorism (deaths)"]

In [160]:
most_death_df.columns

Index(['Entity', 'Code', 'Year', 'Meningitis ', 'Neoplasms ',
       'Fire, heat, and hot substances ', 'Malaria ', 'Drowning ',
       'Interpersonal violence ', 'HIV/AIDS ', 'Drug use disorders ',
       'Tuberculosis ', 'Road injuries ', 'Maternal disorders ',
       'Lower respiratory infections ', 'Neonatal disorders ',
       'Alcohol use disorders ', 'Exposure to forces of nature ',
       'Diarrheal diseases ', 'Environmental heat and cold exposure ',
       'Nutritional deficiencies ', 'Self-harm ', 'Conflict and terrorism ',
       'Diabetes mellitus ', 'Poisonings ', 'Protein-energy malnutrition ',
       'Cardiovascular diseases ', 'Chronic kidney disease ',
       'Chronic respiratory diseases ',
       'Cirrhosis and other chronic liver diseases ', 'Digestive diseases ',
       'Acute hepatitis ', 'Alzheimer's disease and other dementias ',
       'Parkinson's disease '],
      dtype='object')

In [166]:
most_death_clean_df = most_death_df[["Entity","Year","Neoplasms ","Lower respiratory infections ","Neonatal disorders ","Cardiovascular diseases ","Chronic respiratory diseases "]]
most_death_clean_df.count()

Entity                           40
Year                             40
Neoplasms                        40
Lower respiratory infections     40
Neonatal disorders               40
Cardiovascular diseases          40
Chronic respiratory diseases     40
dtype: int64

In [105]:
# afg = year_df.loc[(year_df["Code"] == "AFG")]
# afg.head()

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
7,Afghanistan,AFG,2015,1,1821.0,18876.0,463.0,284.0,1730.0,5039.0,...,1469.0,6216.0,56875.0,5153.0,6835.0,3492.0,6555.0,2065.0,1652.0,511.0
8,Afghanistan,AFG,2016,6,1795.0,19459.0,471.0,388.0,1742.0,5033.0,...,1416.0,6142.0,57970.0,5296.0,6894.0,3578.0,6673.0,2044.0,1690.0,524.0
27,Afghanistan,AFG,2017,NaN,1665.0,20111.0,476.0,399.0,1723.0,5191.0,...,1332.0,6092.0,59553.0,5419.0,6982.0,3693.0,6841.0,2046.0,1728.0,537.0
28,Afghanistan,AFG,2018,NaN,1576.0,20673.0,475.0,466.0,1669.0,5500.0,...,1245.0,NaN,60893.0,5531.0,7036.0,3732.0,6861.0,1972.0,1757.0,551.0

In [12]:
# socio_df.columns

In [70]:
# # Merge csv files with data we will need to chart
# new_df = pd.merge(mortality_df, new_socio_df, left_on="Entity", right_on="country", how="left")
# new_df.dropna()

In [69]:
# new_df.columns

In [71]:
# new_df_2 = new_df[['Entity', 'Code', 'Year',
#        'Number of executions (Amnesty International)', 'Meningitis ',
#        'Neoplasms ', 'Fire, heat, and hot substances ', 'Malaria ',
#        'Drowning ', 'Interpersonal violence ', 'HIV/AIDS ',
#        'Drug use disorders ', 'Tuberculosis ', 'Road injuries ',
#        'Maternal disorders ', 'Lower respiratory infections ',
#        'Neonatal disorders ', 'Alcohol use disorders ',
#        'Exposure to forces of nature ', 'Diarrheal diseases ',
#        'Environmental heat and cold exposure ', 'Nutritional deficiencies ',
#        'Self-harm ', 'Conflict and terrorism ', 'Diabetes mellitus ',
#        'Poisonings ', 'Protein-energy malnutrition ', 'Terrorism (deaths)',
#        'Cardiovascular diseases ', 'Chronic kidney disease ',
#        'Chronic respiratory diseases ',
#        'Cirrhosis and other chronic liver diseases ', 'Digestive diseases ',
#        'Acute hepatitis ', "Alzheimer's disease and other dementias ",
#        "Parkinson's disease ", 'Health: Total expenditure (% of GDP)',
#        'Health: Physicians (per 1000 pop.)',
#        'Current health expenditure (% of GDP)',
#        'GDP: Gross domestic product (million current US$)']]

High SDI, High-income, Commonwealth Low Income, Commonwealth Middle Income, Commonwealth High Income,High-income Asia Pacific,
High Income North America, High-middle SDI