## Leading Causes of Death Around the World

In [382]:
import pandas as pd
import matplotlib as plt
import numpy as np
import os
import requests
import time
from scipy.stats import linregress
from pprint import pprint

In [399]:
# Pull in csv files 
annual_num_deaths_csv = ("../Resources/annual-number-of-deaths-by-cause.csv")
mortality_df = pd.read_csv(annual_num_deaths_csv)
mortality_df.head()

# socio_csv = ("../Resources/soci_econ_country_profiles.csv")
# socio_df = pd.read_csv(socio_csv)
# # socio_df.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)

In [400]:
# Renaming columns
# Create list of existing columns
column_list = mortality_df.columns

# New column names
new_mort_list = []

for columns in range(len(column_list)):
    new = column_list[columns].replace("Deaths - ","")
    new_two = new.replace(" - Sex: Both - Age: All Ages (Number)", "")
    new_mort_list.append(new_two)

In [401]:
mortality_df.columns = new_mort_list
mortality_df = mortality_df.rename(columns={'Entity':'Country'})
mortality_df.head()

,Country,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [402]:
# Filter by Years (2014 to 2018)
year = mortality_df['Year']
year = year.astype(int)
year_df = mortality_df.loc[(year >= 2014) & (year <= 2018)]
year_df.head()

,Country,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
6,Afghanistan,AFG,2014,6,1935.0,18462.0,463.0,228.0,1757.0,4420.0,...,1579.0,5414.0,55932.0,5055.0,6851.0,3454.0,6522.0,2134.0,1620.0,502.0
7,Afghanistan,AFG,2015,1,1821.0,18876.0,463.0,284.0,1730.0,5039.0,...,1469.0,6216.0,56875.0,5153.0,6835.0,3492.0,6555.0,2065.0,1652.0,511.0
8,Afghanistan,AFG,2016,6,1795.0,19459.0,471.0,388.0,1742.0,5033.0,...,1416.0,6142.0,57970.0,5296.0,6894.0,3578.0,6673.0,2044.0,1690.0,524.0
27,Afghanistan,AFG,2017,NaN,1665.0,20111.0,476.0,399.0,1723.0,5191.0,...,1332.0,6092.0,59553.0,5419.0,6982.0,3693.0,6841.0,2046.0,1728.0,537.0
28,Afghanistan,AFG,2018,NaN,1576.0,20673.0,475.0,466.0,1669.0,5500.0,...,1245.0,NaN,60893.0,5531.0,7036.0,3732.0,6861.0,1972.0,1757.0,551.0

In [408]:
clean_df = year_df[["Country","Year","Neoplasms","Lower respiratory infections","Neonatal disorders","Cardiovascular diseases","Chronic respiratory diseases"]]
clean_df.head()

,Country,Year,Neoplasms,Lower respiratory infections,Neonatal disorders,Cardiovascular diseases,Chronic respiratory diseases
6,Afghanistan,2014,18462.0,21750.0,24163.0,55932.0,6851.0
7,Afghanistan,2015,18876.0,21016.0,23953.0,56875.0,6835.0
8,Afghanistan,2016,19459.0,20601.0,23956.0,57970.0,6894.0
27,Afghanistan,2017,20111.0,19868.0,23956.0,59553.0,6982.0
28,Afghanistan,2018,20673.0,19014.0,23841.0,60893.0,7036.0

In [409]:
# Countries with highest and lowest death rates
most_deaths = ["Bulgaria","Ukraine","Latvia","Lesotho","Lithuania","Serbia","Croatia","Romania","Georgia","Russia"]
least_deaths = ["Qatar","United Arab Emirates","Bahrain","Oman","Kuwait","Maldives","Saudi Arabia","Palestine","Jordan","Solomon Islands"]

In [410]:
# Filtering by countries with highest death rates per capita
most_deaths_df = clean_df[clean_df["Country"].isin(most_deaths)]
most_deaths_df.head()

,Country,Year,Neoplasms,Lower respiratory infections,Neonatal disorders,Cardiovascular diseases,Chronic respiratory diseases
1092,Bulgaria,2014,22915.0,1951.0,217.0,76808.0,2894.0
1093,Bulgaria,2015,22744.0,1919.0,190.0,76745.0,2916.0
1094,Bulgaria,2016,22444.0,1938.0,180.0,76814.0,2945.0
1095,Bulgaria,2017,22221.0,1951.0,177.0,76978.0,2966.0
1096,Bulgaria,2018,22179.0,1983.0,166.0,78759.0,3021.0

In [411]:
# Filtering by countries with lowest death rates per capita
least_deaths_df = clean_df[clean_df["Country"].isin(least_deaths)]
least_deaths_df.head()

,Country,Year,Neoplasms,Lower respiratory infections,Neonatal disorders,Cardiovascular diseases,Chronic respiratory diseases
651,Bahrain,2014,567.0,65.0,52.0,899.0,115.0
652,Bahrain,2015,606.0,68.0,50.0,955.0,123.0
653,Bahrain,2016,649.0,71.0,45.0,1021.0,132.0
654,Bahrain,2017,700.0,76.0,41.0,1104.0,142.0
655,Bahrain,2018,753.0,79.0,37.0,1176.0,150.0

In [ ]:
# neo = most_death_clean_df["Neoplasms"]
# low_resp = most_death_clean_df["Lower respiratory infections"]
# neonatal = most_death_clean_df["Neonatal"]