## Leading Causes of Death Around the World

In [193]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import requests
import time
from scipy.stats import linregress
from pprint import pprint

In [194]:
# Pull in csv files 
annual_num_deaths_csv = ("../Resources/annual-number-of-deaths-by-cause.csv")
mortality_df = pd.read_csv(annual_num_deaths_csv)
mortality_df.dropna
mortality_df.head()

# socio_csv = ("../Resources/soci_econ_country_profiles.csv")
# socio_df = pd.read_csv(socio_csv)
# # socio_df.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)

In [195]:
# Renaming columns
# Create list of existing columns
column_list = mortality_df.columns

# New column names
new_mort_list = []

for columns in range(len(column_list)):
    new = column_list[columns].replace("Deaths - ","")
    new_two = new.replace(" - Sex: Both - Age: All Ages (Number)", "")
    new_mort_list.append(new_two)

In [196]:
mortality_df.columns = new_mort_list
mortality_df = mortality_df.rename(columns={'Entity':'Country'})
# print(mortality_df['Country'].unique())

In [197]:
# Filter by Years (2014 to 2018)
year = mortality_df['Year']
year = year.astype(int)
year_df = pd.DataFrame(mortality_df.loc[(year >= 2014) & (year <= 2018)])

# Calculating total mortality rate
mort = year_df.iloc[:,3:36]
total_deaths = mort.sum(axis=1)
# Adding column with total mortality rate, per year
year_df['Total Number of Deaths'] = total_deaths
year_df.head()

,Country,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease,Total Number of Deaths
6,Afghanistan,AFG,2014,6,1935.0,18462.0,463.0,228.0,1757.0,4420.0,...,5414.0,55932.0,5055.0,6851.0,3454.0,6522.0,2134.0,1620.0,502.0,211369.0
7,Afghanistan,AFG,2015,1,1821.0,18876.0,463.0,284.0,1730.0,5039.0,...,6216.0,56875.0,5153.0,6835.0,3492.0,6555.0,2065.0,1652.0,511.0,217939.0
8,Afghanistan,AFG,2016,6,1795.0,19459.0,471.0,388.0,1742.0,5033.0,...,6142.0,57970.0,5296.0,6894.0,3578.0,6673.0,2044.0,1690.0,524.0,223712.0
27,Afghanistan,AFG,2017,NaN,1665.0,20111.0,476.0,399.0,1723.0,5191.0,...,6092.0,59553.0,5419.0,6982.0,3693.0,6841.0,2046.0,1728.0,537.0,217207.0
28,Afghanistan,AFG,2018,NaN,1576.0,20673.0,475.0,466.0,1669.0,5500.0,...,NaN,60893.0,5531.0,7036.0,3732.0,6861.0,1972.0,1757.0,551.0,219391.0

In [198]:
# year_df.sort_values('Total Number of Deaths', axis=1, ascending=False, inplace=True)

In [201]:
country = year_df.groupby('Country').mean()
country.head()

,Year,Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,HIV/AIDS,Drug use disorders,Tuberculosis,...,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease,Total Number of Deaths
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2016.0,1758.4,19516.2,469.6,353.0,1724.2,5036.6,251.4,356.2,3834.0,...,5966.00,58244.6,5290.8,6919.6,3589.8,6690.4,2052.2,1689.4,525.0,217923.6
Africa,2016.0,157178.2,607538.6,28075.6,616089.4,29203.8,83684.6,747152.6,3521.6,419461.0,...,NaN,1510996.2,158209.4,217715.2,250336.8,396058.6,18753.0,76882.8,19539.2,8524096.6
African Region,2016.0,150349.6,490555.0,23588.0,609687.8,25269.4,78174.6,736692.4,2397.6,393130.8,...,NaN,1016485.4,119060.2,172383.2,177778.8,308748.8,14628.2,59396.2,14581.4,7285681.2
African Union,2016.0,157178.2,607538.6,28075.6,616089.4,29203.8,83684.6,747152.6,3521.6,419461.0,...,NaN,1510996.2,158209.4,217715.2,250336.8,396058.6,18753.0,76882.8,19539.2,8524096.6
Albania,2016.0,13.4,4400.6,17.8,0.0,39.8,61.4,2.0,26.8,11.0,...,0.25,12011.2,305.4,754.8,320.0,504.4,1.0,810.4,226.0,20747.6

In [202]:
# Sort by top causes of death (outside source???)
clean_df = year_df[["Country","Year","Neoplasms","Lower respiratory infections","Neonatal disorders","Cardiovascular diseases","Chronic respiratory diseases"]]
clean_df.head()

,Country,Year,Neoplasms,Lower respiratory infections,Neonatal disorders,Cardiovascular diseases,Chronic respiratory diseases
6,Afghanistan,2014,18462.0,21750.0,24163.0,55932.0,6851.0
7,Afghanistan,2015,18876.0,21016.0,23953.0,56875.0,6835.0
8,Afghanistan,2016,19459.0,20601.0,23956.0,57970.0,6894.0
27,Afghanistan,2017,20111.0,19868.0,23956.0,59553.0,6982.0
28,Afghanistan,2018,20673.0,19014.0,23841.0,60893.0,7036.0

In [203]:
# Countries with highest and lowest death rates
most_deaths = ["Bulgaria","Ukraine","Latvia","Lesotho","Lithuania","Serbia","Croatia","Romania","Georgia","Russia"]
least_deaths = ["Qatar","United Arab Emirates","Bahrain","Oman","Kuwait","Maldives","Saudi Arabia","Palestine","Jordan","Solomon Islands"]

In [213]:
# Filtering by countries with highest death rates per capita
most_deaths_df = clean_df[clean_df["Country"].isin(most_deaths)]
most_deaths_df.head()
most_deaths_df.groupby('Country').mean()

,Year,Neoplasms,Lower respiratory infections,Neonatal disorders,Cardiovascular diseases,Chronic respiratory diseases
Country,,,,,,
Bulgaria,2016,22500.6,1948.4,186.0,77220.8,2948.4
Croatia,2016,14181.6,516.4,76.2,23941.2,1853.2
Georgia,2016,8463.8,825.6,362.4,29842.6,1242.6
Latvia,2016,5732.0,362.6,33.8,15696.4,435.2
Lesotho,2016,2169.4,2008.6,1221.4,4070.0,1157.0
Lithuania,2016,8193.4,562.4,37.6,21666.0,798.6
Romania,2016,52153.0,6329.2,538.6,145015.8,7797.2
Russia,2016,297369.0,35215.8,4669.0,1010605.6,39474.4
Serbia,2016,28232.2,1560.0,229.4,62260.6,3899.4
Ukraine,2016,96174.0,8596.0,1626.2,437113.0,11182.0

In [214]:
# Filtering by countries with lowest death rates per capita
least_deaths_df = clean_df[clean_df["Country"].isin(least_deaths)]
least_deaths_df.head()
least_deaths_df.groupby('Country').mean()

,Year,Neoplasms,Lower respiratory infections,Neonatal disorders,Cardiovascular diseases,Chronic respiratory diseases
Country,,,,,,
Bahrain,2016,655.0,71.8,45.0,1031.0,132.4
Jordan,2016,4581.6,933.2,1586.2,9388.6,685.6
Kuwait,2016,1357.8,605.0,226.4,3407.8,191.4
Maldives,2016,183.4,31.6,88.6,454.4,109.6
Oman,2016,1339.4,445.4,401.2,5231.2,262.8
Palestine,2016,2571.2,478.4,1010.6,6126.2,453.0
Qatar,2016,672.6,65.4,88.8,939.6,56.4
Saudi Arabia,2016,11377.6,4433.4,1425.0,41933.4,3501.4
Solomon Islands,2016,569.8,498.4,120.6,2119.8,332.6
United Arab Emirates,2016,4239.8,488.6,115.2,6737.0,1485.0

In [11]:
# neo = most_death_clean_df["Neoplasms"]
# low_resp = most_death_clean_df["Lower respiratory infections"]
# neonatal = most_death_clean_df["Neonatal"]